<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>数量位居全市第一 济宁兖州区这些企业入选2023年省级工业互联网平台名单</string>
	<string>8月8日，据大众网记者了解到山东省工业和信息化厅官网公示《2023年省级工业互联网平台名单》，兖州区山东经典重工集团股份有限公司智慧管理工业互联网平台、山东金大丰机械有限公司数字农机工业互联网平台榜上有名，入选数量居全市第一位。另外，聚真宝（山东）技术股份有限公司数字智慧AI工业互联网平台入选省级储备平台名单。</string>
	<string>省级工业互联网平台评选旨在鼓励制造企业、信息技术企业、互联网企业等，建设综合型（跨行业跨领域）、特色型（面向重点行业、面向重点区域）、专业型（面向产业链供应链协同、面向特定技术）工业互联网平台，开发和推广基于工业互联网平台的解决方案，切实提升制造业数字化、网络化、智能化水平。鼓励平台赋能行业、园区、集群等高质量发展，带动产业链上下游企业数字化转型，实现大中小企业协同发展，催生数字化管理、平台化设计、智能化制造、网络化协同、个性化定制、服务化延伸等六大典型模式应用，有力促进实体经济提质、增效、降本、绿色、安全发展。</string>
	<string>兖州区工信局将继续扎实推进工业互联网平台培育工作，鼓励入库工业互联网平台申报省级试点示范和项目，推动互联网、大数据、人工智能和实体经济深度融合，充分发挥示范引领带动作用，积极拓宽行业应用领域，为推动全区工业经济高质量发展增添新动能。</string>
	<string>第九届湖南省“互联网+”大学生创新创业大赛现场赛在湖南工业大学开赛</string>
	<string>8月7日至9日，“建行杯”第九届湖南省“互联网+”大学生创新创业大赛现场赛在湖南工业大学举行。</string>
	<string>大赛由省教育厅、省委统战部、省委网络安全和信息化委员会办公室、省发展和改革委员会、省工业和信息化厅、省人力资源和社会保障厅、省农业农村厅、省市场监督管理局、省乡村振兴局、共青团湖南省委员会共同主办，省大中专学校学生信息咨询与就业指导中心、中国建设银行股份有限公司湖南省分行、湖南工业大学、岳麓山大学科技城管理委员会联合承办，省大学生就创业基金会、省普通高等学校毕业生就业促进会等参与协办。</string>
	<string>来自省内122所高校的36.8万个项目超过137万人次参赛。根据省赛网评名额和学校推荐，共有1105个项目入围省赛网络评审，经过专家评审，最终409个项目入围现场赛。现场赛三个赛道分别为高教主赛道、“青年红色筑梦之旅”赛道、职教赛道，各赛道将依据现场赛成绩决出省一、二、三等奖和确定国赛推荐顺序。省教育厅将结合本次现场赛成绩开展训练营、一对一指导等活动，对重点项目进行打磨，力争在国赛中取得佳绩。现场将同时举办“红枫计划”投融资对接会，为项目提供股权融资及创业服务支持。</string>
	<string>2021级物流工程与管理专业孙唯雅带着自己的项目入围了此次创新创业大赛现场赛。“这是一个很好地锻炼自己的机会，希望能和团队成员加强合作，在接下来的比赛中一展风采。”孙唯雅说。</string>
	<string>湖南省“互联网+”大学生创新创业大赛已连续举办九届，现已成为全省参赛面最广、覆盖高校最多、参赛水平最高、影响力最大的创新创业盛会，是深化全省高校创新创业教育改革、促进高校学生全面发展的重要平台。</string>
	<string>此前的7月6日，在湖南大学举行了“建行杯”第九届湖南省“互联网+”大学生创新创业大赛推进会暨“青年红色筑梦之旅”活动启动仪式。</string>
	<string>湖南工程学院学子在全国“互联网+化学反应工程”课模设计大赛中表现不俗</string>
	<string>湖南日报·新湖南客户端8月9日讯（通讯员 陈毅征）近日，第六届全国“互联网+化学反应工程”课模设计大赛在浙江落幕。经过初赛、复赛两轮筛选，由全国高校《化学反应工程》课程专家对作品选题和内容质量的科学性、创新性等指标会审，湖南工程学院材料与化工学院两支队伍脱颖而出，分别获得全国三等奖。</string>
	<string>本次大赛自5月1日正式启动，备赛期间，参赛成员在老师指导下，学习多种化工软件，不断修改完善作品。“在参赛过程中，我们加深了对化学反应工程课程内容的理解，锤炼了坚韧不拔、永不放弃的意志品质，培养了团队合作精神。”获奖成员表示。</string>
	<string>据悉，全国“互联网+化学反应工程”课模设计大赛，由教育部高等学校化工类专业教指委发起，是中国化工学会主办的国家级学科竞赛，旨在推动高等学校化工类专业“新工科”建设，提高本科核心课程教学质量，加强学生对化学反应工程课程的兴趣，为我国化学反应工程教学数字化资源库建设提供支撑。</string>
	<string>姐弟同榜：一个月卖出近4万单，江苏沭阳姐弟俩卖火遮阳网</string>
	<string>“没想到，我们卖个普普通通的遮阳网，居然可以成为爆款！”不到两个月，和弟弟仲鹏先后孵化出爆品，仲小鱼开心不已。</string>
	<string>仲小鱼更开心的是，弟弟仲鹏是跟着她入驻淘工厂、把产品卖爆的，“我觉得这个生意有前途，就喊他赶紧入驻。”</string>
	<string>今年2月以来，淘工厂联合1688，先后在义乌、泉州、广州、深圳、郑州、武汉、成都、温州、台州、临沂等全国多个城市招商。</string>
	<string>在仲小鱼介绍下，仲鹏入驻淘工厂，6月开始运营，7月和姐姐一起，双双把单品遮阳网卖火，7月份姐弟俩共成交接近4万单。高峰期时，仲小鱼与工厂30几位工人一起日夜生产，才能满足消费者需求。</string>
	<string>推进微改革登记注销更简化。在全市率先建立“两书同送”工作机制，将《信用修复告知书》与行政处罚决定书同时送达，尽量减轻行政处罚给经营主体带来的信用不良影响。在全省率先成立经营主体登记中介服务企业联络站，搭建政企部门互动桥梁，提升中介服务机构业务能力和法治思维。落实“一屏注销”、掌上办（智能办）、同城通办、证前指导等微改革事项，实现登记注销更便利，做到经营主体有所想，改革方向有回应。</string>
</array>
</plist>
